@import "./mixin";

#fire {
  width: 20rem;
  height: 20rem;
  background-size: contain;
  background-repeat: no-repeat;

  #fire-left-1,
  #fire-left-2,
  #fire-right-1,
  #fire-right-2,
  #smoke-1,
  #smoke-2,
  #smoke-3 {
    opacity: 0;
  }

  #fire-1 {
    animation: resting 2s infinite;
  }

  #fire-right-1 {
    animation: resting-one 2s infinite;
  }

  &.agitated {
    #fire-1,
    #smoke-1 {
      animation: fire-one 4s infinite;
    }

    #fire-right-1,
    #smoke-2 {
      animation: fire-right-one 4s infinite;
    }

    #fire-right-2 {
      animation: fire-right-two 4s infinite;
    }

    #fire-left-1,
    #smoke-3 {
      animation: fire-left-one 4s infinite;
    }

    #fire-left-2 {
      animation: fire-left-two 4s infinite;
    }
  }

  &.highly-agitated path{
    animation-duration: 0.5s !important;
  }

  &.pause path {
    animation: none !important;
  }
}

@include keyframes-rest(resting, 0,2);
@include keyframes-rest(resting-one, 1,1);
@include keyframes(fire-one, 0,4);
@include keyframes(fire-right-one, 1,3);
@include keyframes(fire-right-two, 2,2);
@include keyframes(fire-left-one, 5,7);
@include keyframes(fire-left-two, 6,6);
