@mixin keyframes ($name, $index1, $index2) {
  @keyframes #{$name} {
    0% {
      @if 0 == $index1 or 0 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
    12.5% {
      @if 1 == $index1 or 1 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
    25% {
      @if 2 == $index1 or 2 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
    37.5% {
      @if 3 == $index1 or 3 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
    50% {
      @if 4 == $index1 or 4 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
    62.5% {
      @if 5 == $index1 or 5 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
    75% {
      @if 6 == $index1 or 6 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
    87.5% {
      @if 7 == $index1 or 7 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
    100% {
      @if 8 == $index1 or 8 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
  }
}

@mixin keyframes-rest ($name, $index1, $index2) {
  @keyframes #{$name} {
    0% {
      @if 0 == $index1 or 0 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
    50% {
      @if 1 == $index1 or 1 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
    100% {
      @if 2 == $index1 or 2 == $index2 {
        opacity: 1
      } @else {
        opacity: 0
      }
    }
  }
}
